# Project 3: Data Cleaning - Tidy up messy Datasets (Movies Dataset)

Through this project, we will accomplish the following important tasks:
  * Dropping irrelevant Columns
  * Handle stringified JSON columns
  * Flatten nested Columns
  * Clean Numerical Columns
  * Clean Columns with DateTime Information
  * Clean String Text Columns
  * Remove Duplicates
  * Handle Missing Values & Removing ObervationsRows
  * Save our new clean dataset

## First Steps

1. __Load__ and __inspect__ the messy dataset __movies_metadata.csv__. Identify columns with nested / stringified json data.

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("movies_metadata.csv")
data.head()

D:\Programmes\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [3]:
data["genres"][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [4]:
data["belongs_to_collection"][0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [6]:
data.isnull().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

## Dropping irrelevant Columns

2. __Drop__ the irrelevant columns 'adult', 'imdb_id', 'original_title', 'video' and 'homepage'.

In [7]:
data.drop(columns = ["adult","imdb_id","original_title", "video", "homepage"], axis = 1, inplace = True)

## How to handle stringified JSON columns

3. __Evaluate__ Python Expressions in the stringified columns ["belongs_to_collection", "genres", "production_countries", "production_companies", "spoken_languages"] and __remove quotes__ ("") where possible.

In [8]:
import json
import ast

In [9]:
json_col = ["belongs_to_collection", "genres", "production_countries", 
            "production_companies", "spoken_languages"]

In [10]:
data.belongs_to_collection[0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [11]:
json1 =  "{'dog':3, 'cat':5}"

In [12]:
json2 = '{"dog":3, "cat":5}'

In [13]:
json1.replace("'", '"')

'{"dog":3, "cat":5}'

In [14]:
json.loads(json1.replace("'", '"'))

{'dog': 3, 'cat': 5}

In [15]:
data.genres.apply(lambda x: json.loads(x.replace("'", '"')))[0]

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [16]:
data.genres = data.genres.apply(ast.literal_eval)
data.genres

0        [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1        [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2        [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3        [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                           [{'id': 35, 'name': 'Comedy'}]
                               ...
45461    [{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...
45462                        [{'id': 18, 'name': 'Drama'}]
45463    [{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...
45464                                                   []
45465                                                   []
Name: genres, Length: 45466, dtype: object

In [17]:
data.belongs_to_collection

0        {'id': 10194, 'name': 'Toy Story Collection', ...
1                                                      NaN
2        {'id': 119050, 'name': 'Grumpy Old Men Collect...
3                                                      NaN
4        {'id': 96871, 'name': 'Father of the Bride Col...
                               ...
45461                                                  NaN
45462                                                  NaN
45463                                                  NaN
45464                                                  NaN
45465                                                  NaN
Name: belongs_to_collection, Length: 45466, dtype: object

In [18]:
data.belongs_to_collection.apply(lambda x: isinstance(x, str))

0         True
1        False
2         True
3        False
4         True
         ...
45461    False
45462    False
45463    False
45464    False
45465    False
Name: belongs_to_collection, Length: 45466, dtype: bool

In [19]:
data.belongs_to_collection = data.belongs_to_collection.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [20]:
data.belongs_to_collection [0]

{'id': 10194,
 'name': 'Toy Story Collection',
 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg',
 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}

In [21]:
data.spoken_languages = data.spoken_languages.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [22]:
data.spoken_languages

0                 [{'iso_639_1': 'en', 'name': 'English'}]
1        [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2                 [{'iso_639_1': 'en', 'name': 'English'}]
3                 [{'iso_639_1': 'en', 'name': 'English'}]
4                 [{'iso_639_1': 'en', 'name': 'English'}]
                               ...
45461               [{'iso_639_1': 'fa', 'name': 'فارسی'}]
45462                    [{'iso_639_1': 'tl', 'name': ''}]
45463             [{'iso_639_1': 'en', 'name': 'English'}]
45464                                                   []
45465             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, Length: 45466, dtype: object

In [23]:
data.production_countries = data.production_countries.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

In [24]:
data.production_companies = data.production_companies.apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else np.nan)

## How to flatten nested Columns

4. __Extract__ only the __collection name__ from the column "belongs_to_collection" and __overwrite__ "belongs_to_collection". <br> For example: The value in the first row (Toy Story) should be 'Toy Story Collection'.

In [25]:
data.belongs_to_collection[0]

{'id': 10194,
 'name': 'Toy Story Collection',
 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg',
 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}

In [26]:
data["belongs_to_collection"] = data["belongs_to_collection"].apply(lambda x: x['name'] if isinstance(x, dict)
                                                                                          else np.nan)

In [27]:
data.belongs_to_collection.value_counts(dropna=False).head()

NaN                              40975
The Bowery Boys                     29
Totò Collection                     27
Zatôichi: The Blind Swordsman       26
James Bond Collection               26
Name: belongs_to_collection, dtype: int64

5. __Extract__ all __genre names__ from the column "genres" and __overwrite__ "genres". If a movie has more than one genre, __seperate genres by a pipe__ "|".<br>
For example: The value in the first row (Toy Story) should be 'Animation|Comedy|Family'.

In [28]:
data.genres[0]

[{'id': 16, 'name': 'Animation'},
 {'id': 35, 'name': 'Comedy'},
 {'id': 10751, 'name': 'Family'}]

In [29]:
data.genres = data.genres.apply(lambda x: "|".join(i['name'] for i in x))

In [30]:
data["genres"][0]

'Animation|Comedy|Family'

6. __Extract__ all __spoken language names__ from the column "spoken_languages" and __overwrite__ "spoken_languages". If a movie has more than one spoken language, __seperate spoken languages by a pipe__ "|".<br>
For example: The value in the first row (Toy Story) should be 'English'.

In [31]:
data["spoken_languages"].head()

0             [{'iso_639_1': 'en', 'name': 'English'}]
1    [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
2             [{'iso_639_1': 'en', 'name': 'English'}]
3             [{'iso_639_1': 'en', 'name': 'English'}]
4             [{'iso_639_1': 'en', 'name': 'English'}]
Name: spoken_languages, dtype: object

In [32]:
data["spoken_languages"] = data["spoken_languages"].apply(lambda x: "|".join(i["name"] for i in x) if isinstance(x, list) else np.nan) 
data["spoken_languages"].isna().sum()

6

7. __Extract__ all __production countries names__ from the column "production_countries" and __overwrite__ "production_countries". If a movie has more than one production country, __seperate production countries by a pipe__ "|".<br>
For example: The value in the first row (Toy Story) should be 'United States of America'.

In [33]:
data["production_countries"].head()

0    [{'iso_3166_1': 'US', 'name': 'United States o...
1    [{'iso_3166_1': 'US', 'name': 'United States o...
2    [{'iso_3166_1': 'US', 'name': 'United States o...
3    [{'iso_3166_1': 'US', 'name': 'United States o...
4    [{'iso_3166_1': 'US', 'name': 'United States o...
Name: production_countries, dtype: object

In [34]:
data["production_countries"] = data["production_countries"].apply(lambda x: "|".join(i["name"] for i in x) if isinstance(x, list) else np.nan)

In [35]:
data.T

,0,1,2,3,4,5,6,7,8,9,...,45456,45457,45458,45459,45460,45461,45462,45463,45464,45465
belongs_to_collection,Toy Story Collection,NaN,Grumpy Old Men Collection,NaN,Father of the Bride Collection,NaN,NaN,NaN,NaN,James Bond Collection,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
budget,30000000,65000000,0,16000000,0,60000000,58000000,0,35000000,58000000,...,0,0,0,0,0,0,0,0,0,0
genres,Animation|Comedy|Family,Adventure|Fantasy|Family,Romance|Comedy,Comedy|Drama|Romance,Comedy,Action|Crime|Drama|Thriller,Comedy|Romance,Action|Adventure|Drama|Family,Action|Adventure|Thriller,Adventure|Action|Thriller,...,Horror|Mystery|Thriller,Mystery|Horror,Horror,Science Fiction,Drama|Action|Romance,Drama|Family,Drama,Action|Drama|Thriller,,
id,862,8844,15602,31357,11862,949,11860,45325,9091,710,...,84419,390959,289923,222848,30840,439050,111109,67758,227506,461257
original_language,en,en,en,en,en,en,en,en,en,en,...,en,en,en,en,en,fa,tl,en,en,en
overview,"Led by Woody, Andy's toys live happily in his ...",When siblings Judy and Peter discover an encha...,A family wedding reignites the ancient feud be...,"Cheated on, mistreated and stepped on, the wom...",Just when George Banks has recovered from his ...,"Obsessive master thief, Neil McCauley leads a ...",An ugly duckling having undergone a remarkable...,"A mischievous young boy, Tom Sawyer, witnesses...",International action superstar Jean Claude Van...,James Bond must unmask the mysterious head of ...,...,An unsuccessful sculptor saves a madman named ...,"In this true-crime documentary, we delve into ...",A film archivist revisits the story of Rustin ...,It's the year 3000 AD. The world's most danger...,"Yet another version of the classic epic, with ...",Rising and falling between a man and woman.,An artist struggles to finish his work while a...,"When one of her hits goes wrong, a professiona...","In a small town live two brothers, one a minis...",50 years after decriminalisation of homosexual...
popularity,21.9469,17.0155,11.7129,3.85949,8.38752,17.9249,6.67728,2.56116,5.23158,14.686,...,0.222814,0.076061,0.38645,0.661558,5.683753,0.072051,0.178241,0.903007,0.003503,0.163015
poster_path,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,/e64sOI48hQXyru7naBFyssKFxVd.jpg,/zMyfPUelumio3tiDKPffaUpsQTD.jpg,/jQh15y5YB7bWz1NtffNZmRw0s9D.jpg,/sGO5Qa55p7wTu7FJcX4H4xIVKvS.jpg,/eoWvKD60lT95Ss1MYNgVExpo5iU.jpg,/5c0ovjT41KnYIHYuF4AWsTe3sKh.jpg,...,/yMnq9mL5uYxbRgwKqyz1cVGCJYJ.jpg,/q75tCM4pFmUzdCg0gqcOQquCaYf.jpg,/lXtoHVdej6kS1Dc7KAhw05sMos9.jpg,/4lF9LH0b0Z1X94xGK9IOzqEW6k1.jpg,/fQC46NglNiEMZBv5XHoyLuOWoN5.jpg,/jldsYflnId4tTWPx8es3uzsB1I8.jpg,/xZkmxsNmYXJbKVsTRLLx3pqGHx7.jpg,/d5bX92nDsISNhu3ZT69uHwmfCGw.jpg,/aorBPO7ak8e8iJKT5OcqYxU3jlK.jpg,/s5UkZt6NTsrS7ZF0Rh8nzupRlIU.jpg
production_companies,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'name': 'Warner Bros.', 'id': 6194}, {'name'...",[{'name': 'Twentieth Century Fox Film Corporat...,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'name': 'Regency Enterprises', 'id': 508}, {...","[{'name': 'Paramount Pictures', 'id': 4}, {'na...","[{'name': 'Walt Disney Pictures', 'id': 2}]","[{'name': 'Universal Pictures', 'id': 33}, {'n...","[{'name': 'United Artists', 'id': 60}, {'name'...",...,"[{'name': 'Universal Pictures', 'id': 33}]",[],"[{'name': 'Neptune Salad Entertainment', 'id':...","[{'name': 'Concorde-New Horizons', 'id': 4688}]","[{'name': 'Westdeutscher Rundfunk (WDR)', 'id'...",[],"[{'name': 'Sine Olivia', 'id': 19653}]","[{'name': 'American World Pictures', 'id': 6165}]","[{'name': 'Yermoliev', 'id': 88753}]",[]
production_countries,United States of America,United States of America,United States of America,United States of America,United States of America,United States of America,Germany|United States of America,United States of America,United States of America,United Kingdom|United States of America,...,United States of America,,United States of America,United States of America,Canada|Germany|United Kingdom|United States of...,Iran,Philippines,United States of America,Russia,United Kingdom
release_date,1995-10-30,1995-12-15,1995-12-22,1995-12-22,1995-02-10,1995-12-15,1995-12-15,1995-12-22,1995-12-22,1995-11-16,...,1946-03-29,2000-10-22,2000-10-03,1995-01-01,1991-05-13,NaN,2011-11-17,2003-08-01,1917-10-21,2017-06-09
revenue,3.73554e+08,2.62797e+08,0,8.14522e+07,7.65789e+07,1.87437e+08,0,0,6.43502e+07,3.52194e+08,...,0,0,0,0,0,0,0,0,0,0
runtime,81,104,101,127,106,170,127,97,106,130,...,65,45,30,85,104,90,360,90,87,75
spoken_languages,English,English|Français,English,English,English,English|Español,Français|English,English|Deutsch,English,English|Pусский|Español,...,English,English,English,English,English,فارسی,,English,,English
status,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released,...,Released,Released,Released,Released,Released,Released,Released,Released,Released,Released
tagline,NaN,Roll the dice and unleash the excitement!,Still Yelling. Still Fighting. Still Ready for...,Friends are the people who let you be yourself...,Just When His World Is Back To Normal... He's ...,A Los Angeles Crime Saga,You are cordially invited to the most surprisi...,The Original Bad Boys.,Terror goes into overtime.,No limits. No fears. No substitutes.,...,Meet...The CREEPER!,NaN,"Do you know what happened 50 years before ""The...",NaN,NaN,Rising and falling between a man and woman,NaN,A deadly game of wits.,NaN,NaN
title,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II,Heat,Sabrina,Tom and Huck,Sudden Death,GoldenEye,...,House of Horrors,Shadow of the Blair Witch,The Burkittsville 7,Caged Heat 3000,Robin Hood,Subdue,Century of Birthing,Betrayal,Satan Triumphant,Queerama
vote_average,7.7,6.9,6.5,6.1,5.7,7.7,6.2,5.4,5.5,6.6,...,6.3,7,7,3.5,5.7,4,9,3.8,0,0
vote_count,5415,2413,92,34,173,1886,141,45,174,1194,...,8,2,1,1,26,1,3,6,0,0

8. __Extract__ all __production companies names__ from the column "production_companies" and __overwrite__ "production_companies". If a movie has more than one production company, __seperate production companies by a pipe__ "|".<br>
For example: The value in the first row (Toy Story) should be 'Pixar Animation Studios'

In [36]:
data.production_companies = data.production_companies.apply(lambda x: "|".join(i["name"] for i in x) if isinstance(x, list) else np.nan)

In [37]:
data.production_companies.head(10)

0                              Pixar Animation Studios
1    TriStar Pictures|Teitler Film|Interscope Commu...
2                          Warner Bros.|Lancaster Gate
3               Twentieth Century Fox Film Corporation
4            Sandollar Productions|Touchstone Pictures
5        Regency Enterprises|Forward Pass|Warner Bros.
6    Paramount Pictures|Scott Rudin Productions|Mir...
7                                 Walt Disney Pictures
8    Universal Pictures|Imperial Entertainment|Sign...
9                       United Artists|Eon Productions
Name: production_companies, dtype: object

In [38]:
data.isna().sum()

belongs_to_collection    40975
budget                       0
genres                       0
id                           0
original_language           11
overview                   954
popularity                   5
poster_path                386
production_companies         6
production_countries         6
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
vote_average                 6
vote_count                   6
dtype: int64

In [39]:
pd.read_csv("movies_metadata.csv", low_memory=False).isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genres                       0
homepage                 37684
id                           0
imdb_id                     17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

## Cleaning Numerical Columns

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 45466 non-null  object
 2   genres                 45466 non-null  object
 3   id                     45466 non-null  object
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45461 non-null  object
 7   poster_path            45080 non-null  object
 8   production_companies   45460 non-null  object
 9   production_countries   45460 non-null  object
 10  release_date           45379 non-null  object
 11  revenue                45460 non-null  float64
 12  runtime                45203 non-null  float64
 13  spoken_languages       45460 non-null  object
 14  status                 45379 non-null  object
 15  tagline                20412 non-null  object
 16  title                  45460 non-null  object
 17  vote_average           45460 non-null  float64
 18  vote_count             45460 non-null  float64
dtypes: float64(4), object(15)
memory usage: 6.6+ MB

10. __Convert__ the datatype in the columns __"budget"__, __"id"__ and __"popularity"__ __to numeric__. Set invalid values as NaN.

In [41]:
data["budget"] =pd.to_numeric(data.budget, errors="coerce")

In [42]:
data.budget = data.budget.replace(0, np.nan)

In [43]:
data.budget.value_counts(dropna = False)

NaN           36576
5000000.0       286
10000000.0      259
20000000.0      243
2000000.0       242
              ...
4490331.0         1
313411.0          1
1020000.0         1
37.0              1
9500.0            1
Name: budget, Length: 1223, dtype: int64

In [44]:
data["id"] = pd.to_numeric(data.id, errors="coerce")

In [45]:
data.id.value_counts(dropna = False)

141971.0    3
NaN         3
12600.0     2
18440.0     2
42495.0     2
           ..
41244.0     1
10518.0     1
55971.0     1
91070.0     1
1408.0      1
Name: id, Length: 45434, dtype: int64

In [46]:
data["popularity"] = pd.to_numeric(data.popularity, errors="coerce")

In [47]:
data.popularity.value_counts(dropna = False)

0.000000     66
0.000001     56
0.000308     43
0.000220     40
0.000578     38
             ..
10.066776     1
0.954314      1
1.874027      1
0.512893      1
5.603312      1
Name: popularity, Length: 43758, dtype: int64

11. __Analyze__ the columns __"budget"__ and __"revenue"__ and __"runtime"__. Analyze movies with a budget/revenue/runtime of 0. Do you think the value 0 is the most appropriate value? __Take reasonable measures__!

In [48]:
data[data["runtime"] == 0]

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
222,NaN,NaN,Thriller,61813.0,en,Kris is a homicide cop with psychic abilities....,0.155859,/7JbvfOA2hnWkSIJslAayK0AemDU.jpg,Keystone Pictures|Dream Man Productions Inc,United States of America|Canada,1995-01-01,0.0,0.0,English,Released,NaN,Dream Man,2.5,1.0
224,NaN,NaN,Crime|Comedy|Fantasy,62488.0,it,Johnny Destiny burns into Las Vegas in his hot...,0.710671,/9iczUcmMLnOZ4Ltx3X3AEpbxTt4.jpg,Savoy Pictures|Rysher Entertainment,United States of America,1995-04-28,0.0,0.0,English,Released,Fate visits in ways you never expect,Destiny Turns on the Radio,5.3,9.0
398,NaN,NaN,,172923.0,en,Greed and playing into the hand of providence ...,0.233376,/1L15fJfWfOUK9Ht15OLLmgW90h8.jpg,,,1995-05-26,0.0,0.0,,Released,NaN,Dos Crímenes,5.0,1.0
554,NaN,NaN,,218473.0,en,"The Beans are poor, proud, hated by all, but a...",0.382470,NaN,,,1994-01-01,0.0,0.0,,Released,NaN,"The Beans of Egypt, Maine",0.0,1.0
667,NaN,NaN,Drama|Romance,221917.0,en,An Irish lad (Matt Keeslar) who fled from his ...,0.117662,/ngOBDDwr5CpzFx9IJljq1CfOGt3.jpg,Castle Rock Entertainment|Columbia Pictures Co...,Ireland|United States of America,1995-09-22,0.0,0.0,English,Released,An unforgettable romance,The Run of the Country,8.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45370,NaN,NaN,Drama,374764.0,es,Celina works at a remote tollbooth on a desert...,0.274793,/cMsD2BSDgXuHceypiKc0jW5r7Iz.jpg,Tarea Fina,Argentina,2015-11-12,0.0,0.0,Español,Released,NaN,How Most Things Work,6.8,2.0
45371,DC Super Hero Girls Collection,NaN,Animation,460135.0,en,"When Supergirl, Wonder Woman, Batgirl, Bumbleb...",8.413734,/niLX2txdI5GlVowJlnb5Hr26QpK.jpg,Warner Bros. Animation,United States of America,2017-08-30,0.0,0.0,English|Polski|Português,Released,NaN,LEGO DC Super Hero Girls: Brain Drain,10.0,2.0
45399,NaN,750000.0,Crime|Comedy,280422.0,ru,NaN,0.201582,/hNsmPpl3zLG36jr4EIEd5P8I4pa.jpg,Кинокомпания «Lunapark»|Инвада фильм,Russia,2014-06-05,3.0,0.0,Pусский,Released,NaN,All at Once,6.0,4.0
45416,NaN,NaN,Comedy,282308.0,en,After visiting the first Cubist exposition in ...,0.003732,/rGi2o6TDQhiYeaYQqPQkwKx8qfJ.jpg,Pathé Frères,France,1912-01-01,0.0,0.0,Français,Released,NaN,"Whiffles, Cubic Artist",0.0,0.0
45430,NaN,NaN,Thriller|Science Fiction,222872.0,en,Sci-fi thriller directed by Fred Gallo.,1.188052,/kYRubwfzgCk9IM3MyJtslCGO1TH.jpg,The Pacific Trust,United States of America,1996-01-01,0.0,0.0,,Released,NaN,Starquest II,2.0,1.0

In [49]:
data.budget = data.budget.replace(0, np.nan)

In [50]:
data["budget"].value_counts(dropna = False)

NaN           36576
5000000.0       286
10000000.0      259
20000000.0      243
2000000.0       242
              ...
4490331.0         1
313411.0          1
1020000.0         1
37.0              1
9500.0            1
Name: budget, Length: 1223, dtype: int64

12. The columns "budget" and "revenue" shall show values in Million USD. __Convert and Overwrite__!

In [51]:
data.budget = data.budget.div(1000000)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4491 non-null   object
 1   budget                 8890 non-null   float64
 2   genres                 45466 non-null  object
 3   id                     45463 non-null  float64
 4   original_language      45455 non-null  object
 5   overview               44512 non-null  object
 6   popularity             45460 non-null  float64
 7   poster_path            45080 non-null  object
 8   production_companies   45460 non-null  object
 9   production_countries   45460 non-null  object
 10  release_date           45379 non-null  object
 11  revenue                45460 non-null  float64
 12  runtime                45203 non-null  float64
 13  spoken_languages       45460 non-null  object
 14  status                 45379 non-null  object
 15  tagline                20412 non-null  object
 16  title                  45460 non-null  object
 17  vote_average           45460 non-null  float64
 18  vote_count             45460 non-null  float64
dtypes: float64(7), object(12)
memory usage: 6.6+ MB

In [52]:
data.revenue = data.revenue.div(1000000)

In [53]:
data.revenue.head()

0    373.554033
1    262.797249
2      0.000000
3     81.452156
4     76.578911
Name: revenue, dtype: float64

In [54]:
data.rename(columns = {"revenue":"revenue_musd", "budget":"budget_musd"}, inplace = True)

13. __Analyze__ movies with a __vote_count of 0__. What´s the __vote_average__ for those movies? Do you think this value is the most appropriate value? __Take reasonable measures__!

In [55]:
data[data["vote_count"] == 0].mean()

budget_musd          1.440008
id              201123.499828
popularity           0.166369
revenue_musd         0.013577
runtime             76.394286
vote_average         0.000000
vote_count           0.000000
dtype: float64

In [56]:
data[data["vote_average"] == 0] = np.nan

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4428 non-null   object
 1   budget_musd            8794 non-null   float64
 2   genres                 42468 non-null  object
 3   id                     42465 non-null  float64
 4   original_language      42462 non-null  object
 5   overview               41716 non-null  object
 6   popularity             42462 non-null  float64
 7   poster_path            42359 non-null  object
 8   production_companies   42462 non-null  object
 9   production_countries   42462 non-null  object
 10  release_date           42432 non-null  object
 11  revenue_musd           42462 non-null  float64
 12  runtime                42304 non-null  float64
 13  spoken_languages       42462 non-null  object
 14  status                 42406 non-null  object
 15  tagline                19750 non-null  object
 16  title                  42462 non-null  object
 17  vote_average           42462 non-null  float64
 18  vote_count             42462 non-null  float64
dtypes: float64(7), object(12)
memory usage: 6.6+ MB

## Cleaning DateTime Columns

14. __Convert__ the datatype in the column __"release_date"__ __to datetime__. Set invalid values as NaN.

In [58]:
data["release_date"] = pd.to_datetime("release_date", errors="coerce")
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   belongs_to_collection  4428 non-null   object
 1   budget_musd            8794 non-null   float64
 2   genres                 42468 non-null  object
 3   id                     42465 non-null  float64
 4   original_language      42462 non-null  object
 5   overview               41716 non-null  object
 6   popularity             42462 non-null  float64
 7   poster_path            42359 non-null  object
 8   production_companies   42462 non-null  object
 9   production_countries   42462 non-null  object
 10  release_date           0 non-null      datetime64[ns]
 11  revenue_musd           42462 non-null  float64
 12  runtime                42304 non-null  float64
 13  spoken_languages       42462 non-null  object
 14  status                 42406 non-null  object
 15  tagline                19750 non-null  object
 16  title                  42462 non-null  object
 17  vote_average           42462 non-null  float64
 18  vote_count             42462 non-null  float64
dtypes: datetime64[ns](1), float64(7), object(11)
memory usage: 6.6+ MB

In [59]:
data["release_date"].value_counts(dropna= False).head()

NaT    45466
Name: release_date, dtype: int64

## Cleaning Text / String Columns

15. __Analyze__ the text columns "overview" and "tagline". Try to identify __missing data that is not represented by NaN__ (e.g. "No Data"). __Replace as NaN__ (np.nan)!

In [60]:
data["overview"].value_counts()

No overview found.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   117
No Overview                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            6
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       4
King Lear, old and tired, divides his kingdom among his daughters, giving great importance to their protestations of love for him. When Cordelia, youngest and most honest, refuses to idly flatter the old man in return for favor, he banishes her and turns for support to his remaining daughters. But Goneril and Regan have no love for him and instead plot to take all his power from him. In a parallel, Lear's loyal courtier Gloucester favors his illegitimate son Edmund after being told lies about his faithful son Edgar. Madness and tragedy befall both ill-starred fathers.                                                                         3
No movie overview available.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           3
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    ...
A unique documentary about troops' experiences in Iraq and Afghanistan, based on writings by soldiers, Marines, and air men.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
Inspector Amar Damjee discovers a terrifying crime in the street when he saves the lives of bus passengers. Now his job is as a police inspector to identify the terrorists. Suddenly, when a police commisioner's daughter is killed in a homicide, Amar is framed for it and goes to jail. When he escapes along with the other prisoners accidently, he goes out to prove his innocence and find the man behind this, which Amar also discovers that he was his parent's killer too.                                                                                                                                                                                1
In the year 2022, a ruthless prison warden has created the ultimate solution for his most troublesome and violent inmates: Absolom, a secret jungle island where prisoners are abandoned and left to die. But Marine Captain John Robbins, convicted of murdering a commanding officer, is determined to escape the island in order to reveal the truth behind his murderous actions and clear his name.                                                                                                                                                                                                                                                               1
London, modern day: Joe, a mild mannered young man is bored by his life. When his beloved brother is murdered Joe finds solace in Piggy, one of his brother's old friends. Piggy helps Joe to cope with grief, intent on saving him and helping him get justice for his brother's killing. As their friendship grows Joe finds himself in an increasing dangerous and murky world of violence and revenge. As Joe life collapses around him he starts to question who Piggy really is, and how honest he's really been with him. When Joe confronts Piggy a series of events are put in place that lead to a disastrous climax. Written by Anonymous  (IMDb.com).      1
Bud and Doyle are two losers who are doing nothing with their lives. Both of their girlfriends are actively involved in saving the environment, but the two friends couldn't care less about saving the Earth. One day, when a group of scientists begin a mission to live inside a "Bio-Dome" for a year without outside contact, Bud and Doyle mistakenly become part of the project themselves.                                                                                                                                                                                                                                                                     1
Name: overview, Length: 41538, dtype: int64

In [61]:
data["overview"].replace("No overview found.", np.nan, inplace = True)
data["overview"].replace("No Overview", np.nan, inplace = True)
data["overview"].replace("No movie overview available.", np.nan, inplace = True)
data["overview"].replace("", np.nan, inplace = True)
data["overview"].replace("No overview yet.", np.nan, inplace = True)

In [62]:
data["tagline"].value_counts(dropna = False).head(20)

NaN                                                           25716
Based on a true story.                                            7
Trust no one.                                                     4
Be careful what you wish for.                                     4
-                                                                 4
Who is John Galt?                                                 3
Which one is the first to return - memory or the murderer?        3
How far would you go?                                             3
A Love Story                                                      3
There are two sides to every love story.                          3
The end is near.                                                  3
Know Your Enemy                                                   3
Some doors should never be opened.                                3
There is no turning back                                          3
Documentary                                                       3
Classic Albums                                                    3
This is my Story                                                  2
What could go wrong?                                              2
You never forget your first love.                                 2
The band you know. The story you don't.                           2
Name: tagline, dtype: int64

In [63]:
data["tagline"] = data["tagline"].replace("-", np.nan, inplace = True)

## Removing Duplicates

16. __Identify__ and __remove__ duplicates!

In [64]:
data[data.duplicated(keep = False)].sort_values(by = "id")

,belongs_to_collection,budget_musd,genres,id,original_language,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue_musd,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
7345,NaN,NaN,Crime|Drama|Thriller,5511.0,fr,Hitman Jef Costello is a perfectionist who alw...,9.091288,/cvNW8IXigbaMNo4gKEIps0NGnhA.jpg,Fida cinematografica|Compagnie Industrielle et...,France|Italy,NaT,0.039481,105.0,Français,Released,None,Le Samouraï,7.9,187.0
9165,NaN,NaN,Crime|Drama|Thriller,5511.0,fr,Hitman Jef Costello is a perfectionist who alw...,9.091288,/cvNW8IXigbaMNo4gKEIps0NGnhA.jpg,Fida cinematografica|Compagnie Industrielle et...,France|Italy,NaT,0.039481,105.0,Français,Released,None,Le Samouraï,7.9,187.0
24844,NaN,NaN,Comedy|Drama,11115.0,en,As an ex-gambler teaches a hot-shot college ki...,6.880365,/kHaBqrrozaG7rj6GJg3sUCiM29B.jpg,Andertainment Group|Crescent City Pictures|Tag...,United States of America,NaT,0.000000,85.0,English,Released,None,Deal,5.2,22.0
14012,NaN,NaN,Comedy|Drama,11115.0,en,As an ex-gambler teaches a hot-shot college ki...,6.880365,/kHaBqrrozaG7rj6GJg3sUCiM29B.jpg,Andertainment Group|Crescent City Pictures|Tag...,United States of America,NaT,0.000000,85.0,English,Released,None,Deal,5.2,22.0
22151,NaN,NaN,Action|Horror|Science Fiction,18440.0,en,When a comet strikes Earth and kicks up a clou...,1.436085,/tWCyKXHuSrQdLAvNeeVJBnhf1Yv.jpg,,United States of America,NaT,0.000000,89.0,English,Released,None,Days of Darkness,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45432,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45465,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
data.drop_duplicates(inplace=True)

In [66]:
data[data.duplicated("id", keep = False)].sort_values(by = "id")

,belongs_to_collection,budget_musd,genres,id,original_language,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue_musd,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
33826,NaN,30.000000,Comedy|Crime|Drama|Romance|Thriller,4912.0,en,"Television made him famous, but his biggest hi...",7.645827,/o3Im9nPLAgtlw1j2LtpMebAotSe.jpg,Miramax Films|Allied Filmmakers|Mad Chance,United States of America,NaT,33.013805,113.0,English,Released,None,Confessions of a Dangerous Mind,6.6,281.0
5865,NaN,30.000000,Comedy|Crime|Drama|Romance|Thriller,4912.0,en,"Television made him famous, but his biggest hi...",11.331072,/o3Im9nPLAgtlw1j2LtpMebAotSe.jpg,Miramax Films|Allied Filmmakers|Mad Chance,United States of America,NaT,33.013805,113.0,English,Released,None,Confessions of a Dangerous Mind,6.6,281.0
4114,Pokémon Collection,16.000000,Adventure|Fantasy|Animation|Action|Family,10991.0,ja,When Molly Hale's sadness of her father's disa...,10.264597,/5ILjS6XB5deiHop8SXPsYxXWVPE.jpg,TV Tokyo|4 Kids Entertainment|Nintendo|Pikachu...,Japan,NaT,68.411275,93.0,English,Released,None,Pokémon: Spell of the Unknown,6.0,143.0
44821,Pokémon Collection,16.000000,Adventure|Fantasy|Animation|Action|Family,10991.0,ja,When Molly Hale's sadness of her father's disa...,6.480376,/5ILjS6XB5deiHop8SXPsYxXWVPE.jpg,TV Tokyo|4 Kids Entertainment|Nintendo|Pikachu...,Japan,NaT,68.411275,93.0,English,Released,None,Pokémon: Spell of the Unknown,6.0,144.0
44826,Pokémon Collection,NaN,Adventure|Fantasy|Animation|Science Fiction|Fa...,12600.0,ja,"All your favorite Pokémon characters are back,...",6.080108,/bqL0PVHbQ8Jmw3Njcl38kW0CoeM.jpg,,Japan|United States of America,NaT,28.023563,75.0,日本語,Released,None,Pokémon 4Ever: Celebi - Voice of the Forest,5.7,82.0
5535,Pokémon Collection,NaN,Adventure|Fantasy|Animation|Science Fiction|Fa...,12600.0,ja,"All your favorite Pokémon characters are back,...",7.072301,/bqL0PVHbQ8Jmw3Njcl38kW0CoeM.jpg,,Japan|United States of America,NaT,28.023563,75.0,日本語,Released,None,Pokémon 4Ever: Celebi - Voice of the Forest,5.7,82.0
15765,NaN,0.002500,Drama|Comedy|Foreign,13209.0,fa,"Since women are banned from soccer matches, Ir...",1.529879,/nfkOkpudNNIjRrf0mTFVoiGzHyc.jpg,Jafar Panahi Film Productions,Iran,NaT,0.000000,93.0,فارسی,Released,None,Offside,6.7,27.0
11342,NaN,0.002500,Drama|Comedy|Foreign,13209.0,fa,"Since women are banned from soccer matches, Ir...",1.528960,/nfkOkpudNNIjRrf0mTFVoiGzHyc.jpg,Jafar Panahi Film Productions,Iran,NaT,0.000000,93.0,فارسی,Released,None,Offside,6.7,27.0
10419,NaN,1.600000,Drama|Crime|Mystery,14788.0,en,Set against the backdrop of a decaying Midwest...,3.185256,/w56oo9nREcF54sNXVYuE9QxZFjT.jpg,Magnolia Pictures|Extension 765,United States of America,NaT,0.000000,73.0,English,Released,None,Bubble,6.4,36.0
12066,NaN,1.600000,Drama|Crime|Mystery,14788.0,en,Set against the backdrop of a decaying Midwest...,3.008299,/w56oo9nREcF54sNXVYuE9QxZFjT.jpg,Magnolia Pictures|Extension 765,United States of America,NaT,0.000000,73.0,English,Released,None,Bubble,6.4,36.0
5130,NaN,26.000000,Adventure|Family|Science Fiction|Thriller,15028.0,en,"Until now, Zak Gibbs' greatest challenge has b...",5.373623,/xGhDPrBz9mJN8CsIjA23jQSd3sc.jpg,Paramount Pictures|Nickelodeon Movies|Valhalla...,United States of America,NaT,38.793283,94.0,Český|English,Released,None,Clockstoppers,4.9,89.0
33743,NaN,26.000000,Adventure|Family|Science Fiction|Thriller,15028.0,en,"Until now, Zak Gibbs' greatest challenge has b...",4.920175,/xGhDPrBz9mJN8CsIjA23jQSd3sc.jpg,Paramount Pictures|Nickelodeon Movies|Valhalla...,United States of America,NaT,38.793283,94.0,Český|English,Released,None,Clockstoppers,4.9,90.0
15074,NaN,0.000004,Drama|Romance|War,22649.0,en,British nurse Catherine Barkley (Helen Hayes) ...,2.411191,/k0MF0IIbJ2PfOIku2KyraXL72d8.jpg,Paramount Pictures,United States of America,NaT,0.000025,89.0,English,Released,None,A Farewell to Arms,6.2,29.0
949,NaN,0.000004,Drama|Romance|War,22649.0,en,British nurse Catherine Barkley (Helen Hayes) ...,1.914697,/k0MF0IIbJ2PfOIku2KyraXL72d8.jpg,Paramount Pictures,United States of America,NaT,0.000025,89.0,English,Released,None,A Farewell to Arms,6.2,29.0
9576,NaN,10.000000,Drama|Horror|Music|Romance|TV Movie,69234.0,en,Count de Chagnie has discovered Christine's si...,0.441872,/ole8e9YQwvHoKVpWO0lgfLFFemc.jpg,Beta Film|Reteitalia|TF1|Hexatel|Saban/Scheric...,France|Germany|Italy|United States of America,NaT,0.000000,168.0,English|Italiano,Released,None,The Phantom of the Opera,5.0,3.0
26625,NaN,10.000000,Drama|Horror|Music|Romance|TV Movie,69234.0,en,Count de Chagnie has discovered Christine's si...,0.438490,/ole8e9YQwvHoKVpWO0lgfLFFemc.jpg,Beta Film|Reteitalia|TF1|Hexatel|Saban/Scheric...,France|Germany|Italy|United States of America,NaT,0.000000,168.0,English|Italiano,Released,None,The Phantom of the Opera,5.0,3.0
11155,NaN,40.000000,Adventure|Drama,77221.0,en,"On the Arabian Peninsula in the 1930s, two war...",6.652197,/iQd7zWhSeCe3cgdPcLIDXjGfdzL.jpg,France 2 Cinéma|Quinta Communications|Carthago...,France|Italy|Qatar|Tunisia,NaT,5.446000,130.0,English,Released,None,Black Gold,5.9,77.0
20843,NaN,40.000000,Adventure|Drama,77221.0,en,"On the Arabian Peninsula in the 1930s, two war...",6.475665,/iQd7zWhSeCe3cgdPcLIDXjGfdzL.jpg,France 2 Cinéma|Quinta Communications|Carthago...,France|Italy|Qatar|Tunisia,NaT,5.446000,130.0,English,Released,None,Black Gold,5.9,77.0
21116,NaN,NaN,Documentary,84198.0,en,"Using personal stories, this powerful document...",1.673307,/jn8L1QdWWX5c0NUOLjzaSXtZrbt.jpg,,United States of America,NaT,0.000000,84.0,English,Released,None,A Place at the Table,6.9,7.0
2564,NaN,NaN,Documentary,84198.0,en,"Using personal stories, this powerful document...",0.501046,/jn8L1QdWWX5c0NUOLjzaSXtZrbt.jpg,,United States of America,NaT,0.000000,84.0,English,Released,None,A Place at the Table,6.9,7.0
20899,NaN,NaN,Drama,109962.0,en,Two literary women compete for 20 years: one w...,10.396878,/tOflyY8eUFWubLKJH7fKg4KwpCl.jpg,Metro-Goldwyn-Mayer (MGM)|Jaquet,United States of America,NaT,0.000000,115.0,English,Released,None,Rich and Famous,4.9,7.0
5710,NaN,NaN,Drama,109962.0,en,Two literary women compete for 20 years: one w...,12.180836,/tOflyY8eUFWubLKJH7fKg4KwpCl.jpg,Metro-Goldwyn-Mayer (MGM)|Jaquet,United States of America,NaT,0.000000,115.0,English,Released,None,Rich and Famous,4.9,7.0
4356,NaN,3.512454,Drama,110428.0,fr,"Winter, 1915. Confined by her family to an asy...",0.134014,/sGMPDg6je1zKi0TiX9b4pP6yN02.jpg,Canal+|Arte France Cinéma|3B Productions|C.R.R...,France,NaT,0.115860,95.0,Français,Released,None,Camille Claudel 1915,7.0,20.0
23534,NaN,3.512454,Drama,110428.0,fr,"Winter, 1915. Confined by her family to an asy...",0.110065,/sGMPDg6je1zKi0TiX9b4pP6yN02.jpg,Canal+|Arte France Cinéma|3B Productions|C.R.R...,France,NaT,0.115860,95.0,Français,Released,None,Camille Claudel 1915,7.0,20.0
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
19730,NaN,NaN,Carousel Productions|Vision View Entertainment...,NaN,104.0,Released,NaN,Midnight Man,NaN,NaN,NaT,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
29503,NaN,NaN,Aniplex|GoHands|BROSTA TV|Mardock Scramble Pro...,NaN,68.0,Released,NaN,Mardock Scramble: The Third Exhaust,NaN,NaN,NaT,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN
35587,NaN,NaN,Odyssey Media|Pulser Productions|Rogue State|T...,NaN,82.0,Released,NaN,Avalanche Sharks,NaN,NaN,NaT,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN

In [67]:
data.duplicated().sum()

0

## Handling Missing Values & Removing Observations

In [68]:
data.isna().sum()

belongs_to_collection    38027
budget_musd              33661
genres                       1
id                           4
original_language            7
overview                   880
popularity                   7
poster_path                110
production_companies         7
production_countries         7
release_date             42454
revenue_musd                 7
runtime                    165
spoken_languages             7
status                      63
tagline                  42454
title                        7
vote_average                 7
vote_count                   7
dtype: int64

17. __Drop__ all rows/movies with unknown __id__ or __title__.

In [69]:
data.dropna(subset = ["id", "title"], inplace=True)

In [70]:
data.isna().sum()

belongs_to_collection    38021
budget_musd              33654
genres                       0
id                           0
original_language            6
overview                   879
popularity                   0
poster_path                106
production_companies         0
production_countries         0
release_date             42447
revenue_musd                 0
runtime                    158
spoken_languages             0
status                      56
tagline                  42447
title                        0
vote_average                 0
vote_count                   0
dtype: int64

In [71]:
data.id = data.id.astype("int")

In [74]:
data.isna().sum()

belongs_to_collection    38021
budget_musd              33654
genres                       0
id                           0
original_language            6
overview                   879
popularity                   0
poster_path                106
production_companies         0
production_countries         0
release_date             42447
revenue_musd                 0
runtime                    158
spoken_languages             0
status                      56
tagline                  42447
title                        0
vote_average                 0
vote_count                   0
dtype: int64

## Final (Cleaning) Steps

19. __Keep__ only those rows/movies in the df with __status "Released"__. Then __drop__ the column "status".

In [75]:
data.columns

Index(['belongs_to_collection', 'budget_musd', 'genres', 'id',
       'original_language', 'overview', 'popularity', 'poster_path',
       'production_companies', 'production_countries', 'release_date',
       'revenue_musd', 'runtime', 'spoken_languages', 'status', 'tagline',
       'title', 'vote_average', 'vote_count'],
      dtype='object')

In [76]:
data = data[data["status"]=="Released"].copy()

In [77]:
data.drop(columns=["status"], inplace=True)

20. The Order of the columns should be as follows:

In [78]:
col = ["id", "title", "tagline", "release_date", "genres", "belongs_to_collection", 
"original_language", "budget_musd", "revenue_musd", "production_companies",
"production_countries", "vote_count", "vote_average", "popularity", "runtime",
"overview", "spoken_languages", "poster_path"]

In [79]:
data = data.loc[:, col]

21. __Reset__ the Index and create a __RangeIndex__.

In [80]:
data.reset_index(drop = True, inplace=True)

22. __Save__ the cleaned dataset in a __csv-file__.

In [81]:
data.to_csv("movies_clean.csv", index = False)

In [82]:
data = pd.read_csv("movies_clean.csv")
data.head().T

,0,1,2,3,4
id,862,8844,15602,31357,11862
title,Toy Story,Jumanji,Grumpier Old Men,Waiting to Exhale,Father of the Bride Part II
tagline,NaN,NaN,NaN,NaN,NaN
release_date,NaN,NaN,NaN,NaN,NaN
genres,Animation|Comedy|Family,Adventure|Fantasy|Family,Romance|Comedy,Comedy|Drama|Romance,Comedy
belongs_to_collection,Toy Story Collection,NaN,Grumpy Old Men Collection,NaN,Father of the Bride Collection
original_language,en,en,en,en,en
budget_musd,30,65,NaN,16,NaN
revenue_musd,373.554,262.797,0,81.4522,76.5789
production_companies,Pixar Animation Studios,TriStar Pictures|Teitler Film|Interscope Commu...,Warner Bros.|Lancaster Gate,Twentieth Century Fox Film Corporation,Sandollar Productions|Touchstone Pictures
production_countries,United States of America,United States of America,United States of America,United States of America,United States of America
vote_count,5415,2413,92,34,173
vote_average,7.7,6.9,6.5,6.1,5.7
popularity,21.9469,17.0155,11.7129,3.85949,8.38752
runtime,81,104,101,127,106
overview,"Led by Woody, Andy's toys live happily in his ...",When siblings Judy and Peter discover an encha...,A family wedding reignites the ancient feud be...,"Cheated on, mistreated and stepped on, the wom...",Just when George Banks has recovered from his ...
spoken_languages,English,English|Français,English,English,English
poster_path,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,/e64sOI48hQXyru7naBFyssKFxVd.jpg